
.banner_voa {
    width: 100%;
    height: 19vw;
}
.banner {
    height: 17vw;
    background-color: #003876;
}

@media only screen and (max-width: 320px) {
    .banner_voa {
        width: 100%;
        height: 7rem;
    }
    .banner {
        height: 17vw;
        background-color: #003876;
    }
    
  }