.main{
    height: 32.8rem;
    background-image: linear-gradient(to bottom,#1d3c7c, #1d3d7c,#1d3d7c91,#1d3d7c49,  rgba(196, 196, 196, 0));
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.resumo_ong{
    width: 27rem;
    height: 24rem;
    border-radius: 1rem;
    background-color: white;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2.5rem;
    -webkit-box-shadow: 0px 0px 1em #666;
}

.resumo{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    color: rgb(100, 100, 100);
    font-family: Poppins, sans-serif;
}

.vote {
    width: 6rem;
    height: 1.7rem;
    border: #002d80;
    background-color: #002d80;
    border-radius: 0.30rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
    object-position: bottom;
}

.video_ong {
    background-color: rgb(219, 200, 200);
    width: 40rem;
    height: 20rem;
    margin-top: 5rem;
}

.titulo{
    color: rgb(68, 68, 68);
    font-family: Poppins, sans-serif;
    padding-right: 14rem
}

.categoria {
    border-radius: 5rem;
    width: 5rem;
    text-decoration:none;
    background-color: #febc0f;
    border: #febc0f;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #fdf6e6;
    margin-bottom: 7px;
}

.video_sectiion {
    display: flex;
    flex-direction: column;
}

.infosOng {
    display: flex;
    justify-content: space-between
}

.redesOng {
    margin-top: 2.5rem;
}

.NomeOsc {
    margin-bottom: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem
}

@media only screen and (max-width: 500px) {
    .main{
        height: 100%;
        display: block;
    }
    .video_ong{
        width: 20rem;
        height: 10rem;
    }
    .resumo_ong{
        width: 25rem;
        height: 20rem;
        margin-left: 1.7rem;
        margin-top: 1.7rem;
        border: 30rem;
    }
    .titulo {
       padding-right: 11rem;
       margin-bottom: 2px;
       margin-top: 5rem;
    }
  }

