.foooter {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    background-color: #003876;
    align-items: center;
    color: aliceblue;
}

.logo_ambev {
    display: flex;
    flex-direction: row;
    padding-right: 4rem;
    height: 26px;
  }
  