
.Link {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Poppins, sans-serif;
  padding-left: 1rem;
  padding-top: 0.75rem;  
  padding-right: 1rem;
  letter-spacing: -0.2px;
  color: #ffffff;
}

a:link {
   text-decoration:none;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo_ambev_header {
    display: flex;
    padding-top: 0.5rem;  
    flex-direction: row;
    height: 26px;
  }
  
  @media only screen and (max-width: 500px) {
    .Navbar {
      width: 50rem;
      height: 45px;
      background-color:  #003876;  
      position: fixed;
  }
    .Link {
      font-size: 1px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-family: Poppins, sans-serif;
      padding-left: 1rem;
      padding-top: 0.75rem;  
      padding-right: 1rem;
      letter-spacing: -0.2px;
      color: #ffffff;
    }
  }


  
  .menuToggle
  {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #003876;  
    position: fixed;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .menuToggle a
  {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .menuToggle a:hover
  {
    color: rgb(67, 255, 42);
  }
  
  
  .menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  .menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  .menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  .menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }
  
  /*
   * But let's hide the middle one.
   */
  .menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  .menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  .menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  .menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /*
   * And let's slide it in from the left
   */
  .menuToggle input:checked ~ ul
  {
    transform: none;
  }